backup-copy222-0f6NqFYzD0oWcnjj.json
{"createdAt":"2025-07-05T18:36:08.321Z","updatedAt":"2025-07-05T18:36:08.321Z","id":"0f6NqFYzD0oWcnjj","name":"Backup copy222","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"499605ac-8787-450a-a890-70d2a0219c4e","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2100,280]},{"parameters":{"options":{}},"id":"97b8151d-c57b-4fab-b402-39c2eda503d1","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1900,280]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"495bc3db-55ec-4778-b6f3-13d6ca392446","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1700,280]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"d5ea26bf-97c4-4e9d-8c4b-ff400e48d76c","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1500,280]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/ErikaKartaseva/test_backup","mode":"url"},"repository":{"__rl":true,"value":"test_backup","mode":"list","cachedResultName":"test_backup","cachedResultUrl":"https://github.com/ErikaKartaseva/test_backup"},"filePath":"=","path":"b279c489-85e9-4cc3-8169-87ba80ef3bd8"},"id":"ef067bbd-084e-433a-8e51-73ee76b7955e","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1300,280],"alwaysOutputData":true,"webhookId":"b279c489-85e9-4cc3-8169-87ba80ef3bd8","credentials":{"githubOAuth2Api":{"id":"i0M5RQvcto8l76Df","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"6b9d2ca6-9b1d-4a61-9835-61daded9c4f0","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-1100,280]},{"parameters":{"filters":{},"requestOptions":{}},"id":"d46e5a67-374c-4798-9fd5-dbc1c6e7fc06","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-900,280],"credentials":{"n8nApi":{"id":"FtGv15kfoZlF0oEz","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"b74c7d5f-782e-4d41-b016-608c42bad45f","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-700,280]},{"parameters":{"batchSize":1,"options":{}},"id":"fa594184-8f7f-4b3e-8f9e-fa917f10e362","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-460,280]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"ac1ec8ef-8153-4cf7-88dc-91303929af4c","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[-220,200]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/ErikaKartaseva/test_backup","mode":"url"},"repository":{"__rl":true,"value":"test_backup","mode":"list","cachedResultName":"test_backup","cachedResultUrl":"https://github.com/ErikaKartaseva/test_backup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}","path":"b3169fe1-95ca-414b-9c17-da66df170a22"},"id":"3455f348-cd4d-4f6b-bdd6-8355f8f3022b","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[0,0],"webhookId":"b3169fe1-95ca-414b-9c17-da66df170a22","credentials":{"githubOAuth2Api":{"id":"i0M5RQvcto8l76Df","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/ErikaKartaseva/test_backup","mode":"url"},"repository":{"__rl":true,"value":"test_backup","mode":"list","cachedResultName":"test_backup","cachedResultUrl":"https://github.com/ErikaKartaseva/test_backup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}","path":"cb0c81d3-6b17-4215-ac5f-2763529bb56c"},"id":"dc87c600-cb7b-4837-b337-4701752539ec","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[0,400],"webhookId":"cb0c81d3-6b17-4215-ac5f-2763529bb56c","credentials":{"githubOAuth2Api":{"id":"i0M5RQvcto8l76Df","name":"GitHub account"}}},{"parameters":{"content":"## @igorzuevich \n**Автор** на [YouTube](https://www.youtube.com/@igorzuevich)","height":240,"width":280,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-7200,1560],"typeVersion":1,"id":"cdfe4229-3190-4e0d-ad62-c061b130e67b","name":"Sticky Note2"}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a398fe51-2e68-46e0-95cf-9cbdb3ddfb7a","triggerCount":0,"tags":[]}